{% extends 'base_user.html' %}

{% block content %}

<script>

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

function copyToClipboard(element) {
  /* Get the text field */
  var copyText = document.getElementById(element);

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}

function showPassword(element) {
  // var x = document.getElementById("myInput");
  var x = document.getElementById(element);
  var icon = document.getElementById('show'+element);
  console.log(icon);
  console.log("{{instance.password}}")
  if (x.type === "password") {
    x.type = "text";
    icon.value = "visibility_off"
  } else {
    x.type = "password";
    icon.value = "visibility"
  }
}

</script>

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Password Changelog</h2>
                    </div>
                    <div class="col-sm-6 align-self-end">
                            <form class="form-inline my-2 my-lg-0 justify-content-end" method="POST"> {% csrf_token %}
                              <input class="form-control mr-sm-2" type="search" placeholder="Search Username" aria-label="Search" name="searchkey">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_form">Search</button>
                            </form>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
{% for instance in changelog %}
                    <tr>
                        <td>{{ instance.username }}</td>
                        <td>
                            <input type="password" class = "no-border" id="myPassword{{ instance.id }}" value="{{ instance.password }}" disabled>
                        </td>
                        <td>{{ instance.modified }}</td>
                        <td>
                            <a onclick="return showPassword('myPassword{{ instance.id }}');" class="show"><i class="material-icons" data-toggle="tooltip" title="Show Password" id='showmyPassword{{ instance.id }}'>visibility</i></a>
                            <a onclick="return copyToClipboard('myPassword{{ instance.id }}');" class="copy"><i class="material-icons" data-toggle="tooltip" title="Copy Password">content_copy</i></a>
                        </td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>   
{% endblock %}