{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-xl">
	
</div>

<!-- Edit Modal HTML -->
<div class="container-xl">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST">{% csrf_token %}
				<div class="modal-header">						
					<h4 class="modal-title">Edit Group</h4>
				</div>
				<div class="modal-body">
					{{ editgroup_form|crispy }}
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" href="{% url 'superadmin:superadmin-group' %}">
					<input type="submit" class="btn btn-info" value="Save" name="editgroup_form">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$(".active").removeClass("active");
		$("#nav-groups").addClass("active");
	});
</script>
{% endblock %}